/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
    --dark-color: #1B1A28;
    --medium-dark: #2E3140;
    --medium-light: #86858C;
    --light-color: #F5F0EB;
    --accent-color: #C11327;
    --accent-gradient: #7F333C;
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-color: var(--dark-color);
    background-size: cover;
    height: 100vh;
    Font-Family: 'Roboto', Sans-Serif;
    Font-Size: 10px;
}


.container {
    width: 100%;
    margin: 0 auto;
}

.container, .header {
    background: var(--light-color);
}

.btn-red {
    background: linear-gradient(var(--accent-color), var(--accent-gradient));
    color: var(--light-color);
    cursor: pointer;
    font-size: 1rem;
    padding: 20px 30px;
    outline: none;
    transition: filter 0.3s ease;
}

.btn-red:hover,
.btn-red:active {
    filter: brightness(85%);
}

.header {
    padding: 10px 20px;
    margin-bottom: 100px;
}

.heading {
    font-size: 2rem;
    margin: 0;
}

.hide {
    display: none;
}


.text-center {
    text-align: center;
}