#start-view .header {
    background: var(--light-color);
    padding: 10px 20px;
    margin-bottom: 100px;
}

#start-view .header .heading {
    margin: 0;
}

#start-view .heading {
    font-size: 2rem;
}

#start-view .container {
    background: var(--light-color);
}

#start-view .main{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

@media only screen and (min-width: 600px) {
    #start-view .container {
        width: 600px;
        margin: 0 auto;
    }
}